
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Tahoma,sans-serif;
}

body{
   background:
    linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url("https://images.unsplash.com/photo-1565299624946-b28f40a0ae38?w=1200");
    min-height:100vh;
}

header{

    background:#111;

    padding:20px 40px;

    border-bottom:3px solid #ff6b00;

    position:sticky;

    top:0;

    z-index:1000;

}

.top-bar{

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.logo{

    font-size:35px;

    font-weight:bold;

    color:#ff6b00;

}

.logo span{

 color:#ff6b00;

}

/*==============================
           MENU
==============================*/

nav a{

    color:white;

    text-decoration:none;

    margin-left:25px;

    font-size:18px;

    transition:.3s;

}

nav a:hover{

    color:#ff6b00;
    box-shadow:0 0 25px rgba(255,107,0,.6);
}

/* صندوق الطلب */
.container{
    max-width:650px;
    margin:50px auto;
    background:white;
    padding:40px;
    border-radius:25px;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

.container h1{
    text-align:center;
    color:#ff6b00;
    margin-bottom:10px;
    font-size:40px;
}

.subtitle{
    text-align:center;
    color:#666;
    margin-bottom:35px;
}

.form-group{
    margin-bottom:20px;
}

label{
    display:block;
    margin-bottom:8px;
    font-weight:bold;
    color:#333;
}

input,
textarea,
select{
    width:100%;
    padding:15px;
    border:2px solid #ddd;
    border-radius:12px;
    font-size:16px;
    outline:none;
    transition:0.3s;
}

input:focus,
textarea:focus,
select:focus{
    border-color:#ff6b00;
    box-shadow:0 0 10px rgba(255,107,0,0.2);
}

textarea{
    resize:none;
    height:120px;
}

.submit-btn{
    width:100%;
    padding:16px;
    border:none;
    border-radius:12px;
    background:#ff6b00;
    color:white;
    font-size:20px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

.submit-btn:hover{
    background:#e65f00;
    transform:translateY(-3px);
}

.note{
    text-align:center;
    margin-top:20px;
    color:#888;
}


@media(max-width:768px){

    header{
        flex-direction:column;
    }

    nav{
        margin-top:15px;
        text-align:center;
    }

    nav a{
        display:inline-block;
        margin:8px;
    }

    .container{
        margin:20px;
        padding:25px;
    }
}
